{% extends "network/layout.html" %}
{% load network_extras %}
{% load static %}

{% block body %}

    <div class="container">
        {% if followers %}
            <h1>Followers</h1>
        {% else %}
            <h1>All Posts</h1>
        {% endif %}
        <div class="row">
            {% for post in all_posts %}
                <div class="wrapper">
                    <div class="header nav-item">
                        <div>
                            <strong>
                                <a class="nav-link" href="{% url 'profile' post.user %}">{{ post.user }}</a>
                            </strong>
                        </div>
                        <div>
                            {% if user.is_authenticated and user == post.user %}
                                <div class="nav-item">
                                    <a href="{% url 'edit' post.id %}" class="nav-link" id="edit">Edit</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="main-info">{{ post.content }}</div>
                    <div class="extra-info">
                        <div>{{ post.timestamp }}</div>
                        {% if user.is_authenticated %}
                            {% if user.username|liked:post.id %}
                                <div class="likes-wrapper">
                                    <i class="bi bi-heart-fill align-middle" data-post_id="{{ post.id }}"></i>
                                    <span class="align-middle">{{ post.likes }}</span>
                                </div>
                            {% else %}
                                <div class="likes-wrapper">
                                    <i class="bi bi-heart align-middle" data-post_id="{{ post.id }}"></i>
                                    <span class="align-middle">{{ post.likes }}</span>
                                </div>
                            {% endif %}
                        {% else %}
                        <div class="likes-wrapper">
                            <div>{{ post.likes }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div class="view" id="new-post-view"></div>
    <div class="view" id="posts-view"></div>
    <div class="view" id="profile-view"></div>

{% endblock %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}