{% extends "network/layout.html" %}
{% load network_extras %}
{% load static %}

{% block body %}

    <div class="container">
        {% if followers %}
            <h1>Followers</h1>
        {% else %}
            <h1>All Posts</h1>
        {% endif %}
        <div class="row">
            {% for post in all_posts %}
                <div class="wrapper">
                    <div class="header nav-item">
                        <div>
                            <strong>
                                <a class="nav-link" href="{% url 'profile' post.user %}">{{ post.user }}</a>
                            </strong>
                        </div>
                        <div>
                            {% if user.is_authenticated and user == post.user %}
                                <div class="nav-item">
                                    <a href="{% url 'edit' post.id %}" class="nav-link" id="edit">Edit</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="main-info">{{ post.content }}</div>
                    <div class="extra-info">
                        <div>{{ post.timestamp }}</div>
                        {% if user.is_authenticated %}
                            {% if user.username|liked:post.id %}
                                <div class="likes-wrapper">
                                    <i class="bi bi-heart-fill align-middle" data-post_id="{{ post.id }}"></i>
                                    <span class="align-middle">{{ post.likes }}</span>
                                </div>
                            {% else %}
                                <div class="likes-wrapper">
                                    <i class="bi bi-heart align-middle" data-post_id="{{ post.id }}"></i>
                                    <span class="align-middle">{{ post.likes }}</span>
                                </div>
                            {% endif %}
                        {% else %}
                        <div class="likes-wrapper">
                            <div>{{ post.likes }}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    <nav aria-label="...">
                        <ul class="pagination">
                            {% if all_posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo; First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_posts.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Previous</a>
                                </li>
                            {% endif %}

                            {% if all_posts.number != 1 %}
                                <li class="page-item">
                                    <a href="?page={{ all_posts.number|minus:1 }}" class="page-link">
                                        {{ all_posts.number|minus:1 }}
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ all_posts.number }}" class="page-link active" aria-current="page">
                                        {{ all_posts.number }}
                                    </a>
                                </li>
                                {% if all_posts.number != all_posts.paginator.num_pages %}
                                    <li class="page-item">
                                        <a href="?page={{ all_posts.number|add:1 }}" class="page-link">
                                            {{ all_posts.number|add:1 }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li class="page-item">
                                    <a href="?page=1" class="page-link active" aria-current="page">
                                        1
                                    </a>
                                </li>
                                {% if all_posts.paginator.num_pages > 1 %}
                                    <li class="page-item">
                                        <a href="?page=2" class="page-link">
                                            2
                                        </a>
                                    </li>
                                {% endif %}
                                {% if all_posts.paginator.num_pages > 2 %}
                                    <li class="page-item">
                                        <a href="?page=3" class="page-link">
                                            3
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                    
                            {% if all_posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_posts.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ all_posts.paginator.num_pages }}">Last &raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </span>
            </div>
        </div>
    </div>
    
{% endblock %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}