{% extends "network/layout.html" %}
{% load network_extras %}
{% load static %}

{% block body %}
<div class="container">
    <h1 id="username">{{ username }}</h1>
    <div class="row" id="profile">
        <div class="col-5 profile-card">
            {% if followers == 1 %}
                <div><span class="count" id="followers-count">{{ followers }}</span><span id="wording"> Follower</span></div>
            {% else %}
                <div><span class="count" id="followers-count">{{ followers }}</span><span id="wording"> Followers</span></div>
            {% endif %}
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% if already_following %}
                        <button class="btn btn-secondary" id="unfollow">Following</button>
                    {% elif not user_profile %}
                        <button class="btn btn-primary" id="follow">Follow</button>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-5 profile-card">
            <div><span class="count">{{ following }}</span> Following</div>
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% if follows_you %}
                        Follows You
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <h3>Posts</h3>
    <div id="posts">
        {% for post in posts %}
            <div class="wrapper">
                <div class="header nav-item">
                    <div></div>
                    <div>
                        {% if user.is_authenticated and user == post.user %}
                            <div class="nav-item">
                                <a href="#" class="nav-link" id="edit">Edit</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="main-info">{{ post.content }}</div>
                <div class="extra-info">
                    <div>{{ post.timestamp }}</div>
                    {% if user.is_authenticated %}
                        {% if user.username|liked:post.id %}
                            <div class="likes-wrapper">
                                <i class="bi bi-heart-fill align-middle" data-post_id="{{ post.id }}"></i>
                                <span class="align-middle">{{ post.likes }}</span>
                            </div>
                        {% else %}
                            <div class="likes-wrapper">
                                <i class="bi bi-heart align-middle" data-post_id="{{ post.id }}"></i>
                                <span class="align-middle">{{ post.likes }}</span>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="likes-wrapper">
                        <div>{{ post.likes }}</div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; First</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Previous</a>
                            </li>
                        {% endif %}

                        {% if posts.number != 1 %}
                            <li class="page-item">
                                <a href="?page={{ posts.number|minus:1 }}" class="page-link">
                                    {{ posts.number|minus:1 }}
                                </a>
                            </li>
                            <li class="page-item">
                                <a href="?page={{ posts.number }}" class="page-link active" aria-current="page">
                                    {{ posts.number }}
                                </a>
                            </li>
                            {% if posts.number != posts.paginator.num_pages %}
                                <li class="page-item">
                                    <a href="?page={{ posts.number|add:1 }}" class="page-link">
                                        {{ posts.number|add:1 }}
                                    </a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="page-item">
                                <a href="?page=1" class="page-link active" aria-current="page">
                                    1
                                </a>
                            </li>
                            {% if posts.paginator.num_pages > 1 %}
                                <li class="page-item">
                                    <a href="?page=2" class="page-link">
                                        2
                                    </a>
                                </li>
                            {% endif %}
                            {% if posts.paginator.num_pages > 2 %}
                                <li class="page-item">
                                    <a href="?page=3" class="page-link">
                                        3
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                
                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last &raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </span>
        </div>
        
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'network/posts.js' %}"></script>
{% endblock %}