#charCount, #post-btn {
    text-align: right;
}

.nav-link {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    border: 1px solid #212529;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 3px 10px;
}

.main-info {
    margin-bottom: 5px;
}

.extra-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
}

.bi {
    margin-right: 2px;
    color: red;
}

.bi:hover {
    cursor: pointer;
}

.likes-wrapper {
    font-size: large;
}